<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated BW6Unit -->
      <package
            uri="http://tibco.com/bw/bw6unit"
            class="com.tibco.bw.unittest.model.bw6unit.Bw6unitPackage"
            genModel="model/BW6Unit.genmodel"/>
   </extension>
   <extension
         point="com.tibco.bw.model.ActivityIcon">
      <activityIcon
            activityTypeID="bw.unittest.AssertNodeEquals"
            diagramIcon="icons/full/obj48/activity_testcaseeval_48x48.png"
            largeIcon="icons/full/obj32/activity_testcaseeval_32x32.png"
            smallIcon="icons/full/obj16/activity_testcaseeval_16x16.png">
      </activityIcon>
   </extension>

</plugin>
